.adminhome {
    width: 100%;
}

.admincontent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.eventList {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 0px;
}